* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

div {
  text-align: center;
}

button {
  height: 2.2em;
  width: 5.5em;
  border: none;
  color: black;
}

button:hover {
  cursor: pointer;
} 


.ImageBtn {
  position: absolute;
  text-align: center;
  background-color: #f1e1c9;
  color: #000000;
  border: 1px solid #ed9c28;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
} 

.col {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col_rules {
  width: 50%;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}


#canvas1 {
  border: 2px solid white;
  position: absolute;
  top: 21%;
  left: 4%;
  transform: translate(-50, -50);
  width: 22%;
  height: 75%;
}

#canvas2 {
  border: 2px solid white;
  position: absolute;
  top: 21%;
  left: 27%;
  transform: translate(-50, -50);
  width: 22%;
  height: 75%;
}

#canvas3 {
  border: 2px solid white;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50, -50);
  width: 22%;
  height: 75%;
}

#canvas4 {
  border: 2px solid white;
  position: absolute;
  top: 21%;
  left: 73%;
  transform: translate(-50, -50);
  width: 22%;
  height: 75%;
}

#canvasExplosion {
  border: 2px solid white;
  position: absolute;
  top: 21%;
  left: 40%;
  transform: translate(-50, -50);
  width: 22%;
  height: 75%;
}

#image1_See {
  border: 2px solid white;
  position: absolute;
  top: 15%;
  left: 25;
  transform: translate(-50, -50);
  width: 40%;
  height: 60%;
}

.ImageBtn:hover {
  background-color: #fff;
  color: #000000;
  font-size: medium;
}

#btn1 {
  object-fit: cover;
  margin-right: 1230px;
  margin-top: 25px;
}



#btn2 {
  margin-right: 1040px;
  margin-top: 25px;
}

#btn3 {
  margin-right: 850px;
  margin-top: 25px;
}

#btn4 {
  margin-right: 600px;
  margin-top: 25px;
}

#btn5 {
  margin-right: 420px;
  margin-top: 25px;
}

#btn6 {
  margin-right: 240px;
  margin-top: 25px;
}

#btn7 {
  margin-left: 20px;
  margin-top: 25px;
}

#btn8 {
  margin-left: 205px;
  margin-top: 25px;
}

#btn9 {
  margin-left: 390px;
  margin-top: 25px;
}

#btn10 {
  margin-left: 640px;
  margin-top: 25px;
}

#btn11 {
  margin-left: 820px;
  margin-top: 25px;
}

#btn12 {
  margin-left: 1005px;
  margin-top: 25px;
}

#btn1Explosion {
  margin-right:250px;
  margin-top: 20px;
}

#btn2Explosion {
  margin-right: 58px;
}

#btn3Explosion {

  margin-left:130px;
}

#button_See_Liam {
  top: 8%;
  margin-left:10px;
}


#seeImages_black {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#seeImages_Game_Color {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#seeImages_color {
  width: 25%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game_Over_Color_See_Images {
  width: 25%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game_Over_Color_Black_White_See_Images_See {
  width: 25%;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game_Over_Color_Black_White_See_Images {
  width: 25%;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#game_Over_Color_Images_See_Explosion {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Start_color {
  width: 450px;  
  height: 30px;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-decoration: none;
cursor: pointer;
}

#Start_color:hover {
  background-color: #fff;
  color: #000000;
  font-size: medium;
}


#Start_black {
  width: 450px;  
  height: 30px;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
  background-color: #f1e1c9;
  color: #000000;
  border: 1px solid #ed9c28;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}


#Start_black:hover {
  background-color: #fff;
  color: #000000;
  font-size: medium;
}

#buttonExplosion {
  width: 450px;  
  height: 30px;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  cursor: pointer;
}

#buttonExplosion:hover {
  color: #000000;
  font-size: medium;
}


#game_Over_Color_Black_White_See_Images_See_Explosion {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#script_Game_Color_Explosion_Image {
  width: 45%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seeImages_rules {
  width: 28%;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}


#to_go_back_intro {
  width: 25%;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#rulesIntro {
  width: 28%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ImageBtn2 {
  position: absolute;
  text-align: center;
  background-color: #f1e1c9;
  color: #000000;
  border: 1px solid #ed9c28;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}

.ImageBtn2:hover {
  background-color: #fff;
  color: #000000;
  font-size: medium;
}

#canvasExplosion {
  position: absolute;
}
.controls {
  position: absolute;
  z-index: 100;
}

#image1 {
  display: none;
}

.titulo {
  margin-top: 15px;
  margin-left: 700px;
  font-family: 'Playfair Display SC', georgia;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

#h1Paraga {
  color: #fff;
   font-family: 'Playfair Display SC', georgia;
  font-size: 1rem;
  line-height: 2;
  font-weight: 200;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}


#ulDescricao{
  margin-top: 20px;
  margin-left: 650px;
  margin-right: 150px;
  position: absolute;
  text-align: center;
  background-color: #f1e1c9;
  color: #000000;
  border: 1px solid #ed9c28;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease;
}

.scrollbar-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.scrollbar-lista li {
  cursor: pointer;
}

.scrollbar-lista::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-lista::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.scrollbar-lista::-webkit-scrollbar-track {
  background:black;
}

.scrollbar-descricao {
  grid-column: 3;
}

.scrollbar-descricao section {
  margin-bottom: 3rem;
}
